{% extends "layout.html" %}

{% block body %}
<h3>About</h3>
<hr>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci id minus fuga, provident quae earum debitis
consectetur quasi! Debitis excepturi perspiciatis vel rerum accusamus velit iure alias autem repellat! Accusantium
ducimus consequatur voluptate beatae optio sunt. Rerum ipsam et hic consequuntur mollitia nesciunt tempore architecto.
Modi, molestiae nihil eum asperiores corporis vitae deserunt optio itaque ratione dolorum aut ducimus consequuntur in
atque quam quae voluptas animi accusantium sed eligendi delectus laboriosam molestias consectetur corrupti! Esse debitis
fugit totam consequatur voluptatem pariatur odio eius consectetur reiciendis quidem, consequuntur libero. Nam dolorem
deleniti qui ea sint eos, recusandae voluptas non nesciunt maiores!
<hr>
{% endblock body %}