{% extends 'layout.html' %} 

{% block body %}
    <!--Bu makroyu eklememiz gerekiyor-->
    {% from "includes/formhelpers.html" import render_field %} 

    <h3>Kayıt Olun</h3>
    <hr>

    <form method = "post">
        <!--form-control bootstrap sınıfını dahil ettik asagiya-->
        {{ render_field(form.name,class = "form-control") }}
        {{ render_field(form.username,class = "form-control") }}
        {{ render_field(form.email,class = "form-control") }}
        {{ render_field(form.password,class = "form-control") }}
        {{ render_field(form.confirm,class = "form-control") }}

        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
</form>
</form>
{% endblock body %}